<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.candy.mapper.DepartmentMapper">
    
    <resultMap id="DepartmentMap" type="com.candy.bean.Department">
        <id column="department_id" property="departmentId"></id>
        <result column="department_name" property="departmentName"></result>
        <collection property="employeeList" ofType="com.candy.bean.Employee">
            <id column="employee_id" property="employeeId"></id>
            <result column="last_name" property="lastName"></result>
            <result column="email" property="email"></result>
            <result column="gender" property="gender"></result>
            <result column="age" property="age"></result>
            <association property="department"
                         select="com.candy.mapper.DepartmentMapper.getDepartmentById"
                         column="department_id"></association>
        </collection>
    </resultMap>

    <resultMap id="DepartmentMapTwo" type="com.candy.bean.Department">
        <id column="department_id" property="departmentId"></id>
        <result column="department_name" property="departmentName"></result>
        <collection property="employeeList"
                    select="com.candy.mapper.EmployeeMapper.getDepartmentIds"
                    column="{departmentId=department_id}">
        </collection>
    </resultMap>


    <select id="getDepartmentById" resultMap="DepartmentMapTwo">
      SELECT * FROM `department` WHERE department_id=#{departmentId}
    </select>

    <select id="getDepartment" resultMap="DepartmentMap">
      SELECT * FROM `employee` e
      INNER JOIN `department` d ON e.`department_id`=d.`department_id`
      where d.department_id=#{departmentId}
    </select>

</mapper>